@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
/* font-family: 'Squada One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Roboto Slab', sans-serif; */

*,
html,
body {
  box-sizing: border-box;
}

body {
  font-family: 'Squada One', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Squada One', cursive !important;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 58px !important;
}

body {
  background-color: #FCF4EA;
}

html,
body .app .content {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555555;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */